.mail-side-nav li {
  border: 1px solid black;
  max-width: 90%;
  background-color: #90b8f8;
  color: #26282b;
  border-radius: 40px;
  transition: all 300ms;
  margin: 0 auto;
  box-shadow: 3px 1px 8px #202020;
}

.mail-side-nav li:hover {
  background-color: #5f85db;
  color: #eeeeee;
  transform: scale(1.05);
  transform: translateX(-5%);
}

.navlink {
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
}

.mail-side-nav {
  grid-area: folders;
  padding: 20px;
}

.side-ul {
  margin-top: 10px;
}
.side-ul li {
  margin-top: 10px;
}

.user-info {
    /* padding:0; */
    width: 100%;
    text-align: center;
}

.user-info h1{
    margin: 10px 0 15px;
}