*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins-regular;
    background-color: #222831;
    color: #EEEEEE;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}
