.new-mail-form {
    width: 70%;
    margin: 0 auto;
    gap: 20px;
}


.new-mail-form input{ 
    padding: 10px;
}

.new-mail-form textarea {
    padding: 5px;
}
.new-mail-form button {
    height: 30px;
    width: 80px;
    margin: 0 auto;
}

