.mails-container {
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-template-areas: 'folders mails';
  gap: 15px;
  padding: 20px;
}

.mail-list-headers {
  background-color: #5f85db;
  padding: 0 10px 0 10px;
}

.compose-btn {
  /* margin-bottom: 20px; */
  transition: all 250ms ease;
  background-color: #90b8f8;
  color: #26282b;
  border-radius: 40px;
  width: 90%;
  
  padding: 15px;
  font-size: 18px;
}
.compose-btn:hover {
    transform: translateY(-10px);
    background-color: #5f85db;
    color: #EEEEEE;
}

.read {
  background-color: black;
}
